# IntelliJ
/.idea/

# metals
/.bloop/
/.metals/
/project/**/metals.sbt
*.semanticdb

# sbt / bsp
target/
/.bsp/

# vscode
/.vscode/

# scala-cli
/.scala-build/

# scripts generated
/scripts/.scala-cli*
