sudo: required

language: scala

scala:
  - 2.11.12

matrix:
  include:
    - os: linux
      dist: trusty

stages:
- name: test
- name: release
  if: (branch = master AND type = push) OR (tag IS present)

jobs:
  include:
  # stage="test" if no stage is specified
  - env: TEST="scalafmt"
    jdk: openjdk8
    script: ./scripts/scalafmt --test
  - env: TEST="linux"
    jdk: openjdk8
    before_install: ./scripts/travis-os-setup.sh
    script: sbt +test doc
  - env: TEST="linux" SCALANATIVE_VERSION=0.4.0-M2
    jdk: openjdk8
    script: sbt +sconfigNative/test
  - env: TEST="linux" SCALAJS_VERSION=1.0.0-RC2
    jdk: openjdk8
    script: sbt +sconfigJS/test
  - env: TEST="linux"
    jdk: openjdk11
    before_install: ./scripts/travis-os-setup.sh
    script: sbt +sconfigJVM/test +sconfigJS/test # No tests on Scala Native due to link error on jdk11/0.3.9
  - env: TEST="linux" SCALANATIVE_VERSION=0.4.0-M2
    jdk: openjdk11
    script: sbt +sconfigNative/test
  - env: TEST="linux" SCALAJS_VERSION=1.0.0-RC2
    jdk: openjdk11
    script: sbt +sconfigJS/test
  - stage: release
    jdk: openjdk8
    script:
    - set -e
    - sbt ci-release
    - export SCALANATIVE_VERSION=0.4.0-M2
    - export CI_RELEASE="+sconfigNative/publishSigned"
    - echo $CI_RELEASE
    - sbt ci-release
    - export SCALAJS_VERSION=1.0.0-RC2
    - export CI_RELEASE="+sconfigJS/publishSigned"
    - echo $CI_RELEASE
    - sbt ci-release

cache:
  directories:
  - $HOME/.sbt/1.0/dependency
  - $HOME/.sbt/boot/scala*
  - $HOME/.sbt/launchers
  - $HOME/.ivy2/cache
  - $HOME/.coursier

before_cache:
- du -h -d 1 $HOME/.ivy2/cache
- du -h -d 2 $HOME/.sbt/
- find $HOME/.sbt -name "*.lock" -type f -delete
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -type f -delete
- rm -rf $HOME/.ivy2/local

before_install:
- git fetch --tags
