name: CI
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, macos-13]
        java: [ '17', '21', '25-ea' ]
    runs-on: ${{ matrix.os }}
    env:
      JAVA_OPTS: -Xms2G -Xmx4G -Xss6M -XX:+UseG1GC -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    name: Test using ${{matrix.os}} and Java ${{ matrix.java }}
    steps:
    - name: Checkout current branch (full)
      uses: actions/checkout@v5
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'sbt'
    - name: Setup sbt
      uses: sbt/setup-sbt@v1
    - name: Run tests
      run: sbt +test
